[flake8]
exclude = *.egg-info,.direnv,.venv,certs,mssql,starburst,venv
ignore = \
    E203 \ # whitespace before ':' (black disagrees)
    E501 \ # line too long (black fixes long lines, except for long strings which may benefit from being long (eg URLs))
    W503 \ # line break before binary operator (black disagrees)
