[flake8]
exclude = *.egg-info,.direnv,.venv,certs,mssql,starburst,venv
extend-select =
    # match black&PEP8 putting binary operators after new lines
    W504
ignore =
    # whitespace before ':' (black disagrees)
    E203,
    # line too long (black fixes long lines, except for long strings which may benefit from being long (eg URLs))
    E501,
    # line break before binary operator (black disagrees)
    W503,
