version: '3.6'
services:
  sql:
    image: "mcr.microsoft.com/mssql/server:2017-latest"
    entrypoint: /mssql/entrypoint.sh
    command: /opt/mssql/bin/sqlservr
    environment:
      SA_PASSWORD: "Your_password123!"
      ACCEPT_EULA: "Y"
    volumes:
      - ./mssql:/mssql
    ports:
      - "15785:1433"
