services:
  mssql:
    image: "mcr.microsoft.com/mssql/server:2017-latest"
    entrypoint: /mssql/entrypoint.sh
    command: /opt/mssql/bin/sqlservr
    environment:
      SA_PASSWORD: "Your_password123!"
      ACCEPT_EULA: "Y"
    volumes:
      - ./mssql:/mssql
    ports:
      - "15785:1433"
  trino:
    image: "starburstdata/starburst-enterprise:356-e.7"
    ports:
      - "8080:8080"
    volumes:
      - ./starburst/etc:/etc/starburst
    depends_on:
      - mssql

  # used to build the production image
  prod:
    profiles:
        - do_not_start
    image: cohortextractor
    build:
      context: .
      target: cohortextractor
      # should speed up the build in CI, where we have a cold cache
      cache_from:  # should speed up the build in CI, where we have a cold cache
        - ghcr.io/opensafely-core/base-docker
        - ghcr.io/opensafely-core/cohortextractor
      args:
        # this makes the image work for later cache_from: usage
        - BUILDKIT_INLINE_CACHE=1
        # env vars supplied by make/just
        - BUILD_DATE
        - GITREF
    init: true

  # used to build and run the development image, with test dependencies and
  # code mounted in
  dev:
    extends: prod
    image: cohortextractor-dev
    container_name: cohortextractor-dev
    build:
      target: cohortextractor-dev
    environment:
      TPP_DATABASE_URL: "mssql://SA:Your_password123!@mssql:1433/Test_OpenCorona"
      EMIS_DATABASE_URL: "trino://trino:8080/mssql/dbo"
      EMIS_DATASOURCE_DATABASE_URL: "mssql://SA:Your_password123!@mssql:1433/Test_EMIS"
      # uncommit for query logs
      # TDSDUMP: stdout
    volumes:
      - .:/app
    depends_on:
      - mssql
      - trino
