# Basic requirements for notebook infrastructure provided in base
# docker image
pip-tools
jupyter
jupyterlab
jupytext
bash_kernel
nbval

# Commonly-used packages provided in base docker image
pandas-gbq
pandas
numpy
ebmdatalab
matplotlib
tqdm

# Both these required for plotly+notebooks
plotly
ipywidgets

# Add extra per-notebook packages here
pyodbc