name: Publish docker image
on:
  push:
    paths:
    - "Dockerfile"
    - "install_mssql.sh"
    - "requirements.txt"
    - "config/*"

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@master
    - name: Publish to Registry
      uses: elgohr/Publish-Docker-Github-Action@master
      with:
        name: ebmdatalab/opencorona-research-template/app
        registry: docker.pkg.github.com
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}
