name: Tests

on: [push]

env:
  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

jobs:
  check:
    name: Check formatting
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v2
        with:
          python-version: "3.8"
      - name: Install deps
        run: |
            # ensure requirements .txt files are timestamped later than .in
            # files so we don't re-compile them
            touch requirements.*.txt
            make devenv
      - name: Run all pre-commit checks
        run: |
          source ${{ github.workspace }}/venv/bin/activate
          pre-commit run --all-files

  test:
    name: Run test suite
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v2
        with:
          python-version: "3.8"
      - name: Install deps
        run: |
            # ensure requirements .txt files are timestamped later than .in
            # files so we don't re-compile them
            touch requirements.*.txt
            make devenv
      - name: Start SQL Server and Trino instances for the tests
        run: docker-compose up -d mssql trino
      - name: Run tests
        run: |
          source ${{ github.workspace }}/venv/bin/activate
          PYTHONPATH=. pytest -vvv tests/

  docker-tests:
    name: Test docker build
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v2
      - name: Build docker
        run: make docker-build ENV=dev
      - name: Basic docker test
        run: docker-compose run --rm -v $PWD:/workspace dev cohortextractor
      - name: Run unit tests in docker
        run: docker-compose run --rm -v $PWD:/workspace dev pytest

  build:
    name: Test we can build PyPI package
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-python@v2
      with:
        python-version: "3.8"
    - name: Install wheel package
      run: pip install wheel
    - name: Build package
      run: python setup.py sdist bdist_wheel
